<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="col-12 mt-4">Registration Page</h1>
		</div> <!-- .row -->
	</div> <!-- .container -->

	<div class="container">

		<div class="row mt-3">
			<div class="col-3 text-right">Username:</div>
			<div class="col-9">
				<!-- Display Form Data Here -->
				
				
				<% if(formData.username=='' ) { %>
					Not Provided
				<% } else { %>
					<%= formData.username %>
				<% } %>

			</div>
		</div> <!-- .row -->

		<div class="row mt-3">
			<div class="col-3 text-right">Password:</div>
			<div class="col-9">
				<!-- Display Form Data Here -->
				
				<% if(formData.pass == '') { %>
					Not Provided
				<% } else { %>
					<%= formData.pass %>
				<% } %>
				
			</div>
		</div> <!-- .row -->
		
		<div class="row mt-3">
			<div class="col-3 text-right">Grade:</div>
			<div class="col-9">
				<!-- Display Form Data Here -->
				<% if(typeof(formData.grade) == "undefined") { %>
					Not Selected
				<% } else { %>
					<%= formData.grade %>
				<% } %>

				
			</div>
		</div> <!-- .row -->

		<div class="row mt-3">
			<div class="col-3 text-right">Verification Method:</div>
			<div class="col-9">
				<!-- Display Form Data Here -->
				<% if(typeof(formData.verification) == "undefined") { %>
					Not Selected
				<% } else { %>
					<%= formData.verification %>
				<% } %>
				
			</div>
		</div> <!-- .row -->

		<div class="row mt-3">
			<div class="col-3 text-right">Terms & Conditions:</div>
			<div class="col-9">
				<!-- Display Form Data Here -->
				
				<% if(typeof(formData.terms) == "undefined") { %>
					Not Accepted
				<% } else { %>
					<%= formData.terms %>
				<% } %>
				
			</div>
		</div> <!-- .row -->

		<div class="row mt-4 mb-4">
			<a href="/" role="button" class="btn btn-primary">Back to Login</a>
		</div> <!-- .row -->

	</div> <!-- .container -->
	
	<script>
		const formDataArray = document.querySelectorAll(".col-9")
		
		for(let i = 0; i < formDataArray.length; i++) {
			let currField = formDataArray[i].textContent.trim();
			if(currField == "Not Provided" || 
				currField == "Not Accepted" ||
				currField == "Not Selected"
			) {
				formDataArray[i].style.color = "red";
			}
		}
	</script>
</body>
</html>